*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Monaco', 'Menlo', monospace;
  background-image: radial-gradient(rgb(201, 93, 69), rgb(46, 141, 204));
}